@keyframes burgerNav {
  0% {
    scale: 0;
  }
  30% {
    scale: 1.4;
  }
  40% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  60% {
    scale: 1;
  }
  70% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes springBtnPasion {
  0% {
    transform: scale(0) rotate(-10deg);
  }
  60% {
    transform: scale(1.3) rotate(-10deg);
  }
  70% {
    transform: scale(0.8) rotate(-10deg);
  }
  80% {
    transform: scale(1.2) rotate(-10deg);
  }
  90% {
    transform: scale(0.9) rotate(-10deg);
  }
  95% {
    transform: scale(1.1) rotate(-10deg);
  }
  100% {
    transform: scale(1) rotate(-10deg);
  }
}
@keyframes springBtnPasionV2 {
  0% {
    transform: scale(0) rotate(-10deg) translate(60px, -20px);
  }
  60% {
    transform: scale(1.3) rotate(-10deg) translate(60px, -20px);
  }
  70% {
    transform: scale(0.8) rotate(-10deg) translate(60px, -20px);
  }
  80% {
    transform: scale(1.2) rotate(-10deg) translate(60px, -20px);
  }
  90% {
    transform: scale(0.9) rotate(-10deg) translate(60px, -20px);
  }
  95% {
    transform: scale(1.1) rotate(-10deg) translate(60px, -20px);
  }
  100% {
    transform: scale(1) rotate(-10deg) translate(60px, -20px);
  }
}
@keyframes springBtnOffer {
  0% {
    transform: scale(0) rotate(5deg);
  }
  60% {
    transform: scale(1.3) rotate(5deg);
  }
  70% {
    transform: scale(0.8) rotate(5deg);
  }
  80% {
    transform: scale(1.2) rotate(5deg);
  }
  90% {
    transform: scale(0.9) rotate(5deg);
  }
  95% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(5deg);
  }
}
@keyframes springBtnMap {
  0% {
    transform: scale(0) rotate(10deg);
  }
  60% {
    transform: scale(1.3) rotate(10deg);
  }
  70% {
    transform: scale(0.8) rotate(10deg);
  }
  80% {
    transform: scale(1.2) rotate(10deg);
  }
  90% {
    transform: scale(0.9) rotate(10deg);
  }
  95% {
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(10deg);
  }
}
@keyframes springBtnContact {
  0% {
    transform: scale(0) rotate(15deg) translate(60px);
  }
  60% {
    transform: scale(1.3) rotate(15deg) translate(60px);
  }
  70% {
    transform: scale(0.8) rotate(15deg) translate(60px);
  }
  80% {
    transform: scale(1.2) rotate(15deg) translate(60px);
  }
  90% {
    transform: scale(0.9) rotate(15deg) translate(60px);
  }
  95% {
    transform: scale(1.1) rotate(15deg) translate(60px);
  }
  100% {
    transform: scale(1) rotate(15deg) translate(60px);
  }
}
@keyframes springBtnContact765 {
  0% {
    transform: scale(0) rotate(15deg) translate(-180px, -40px);
  }
  60% {
    transform: scale(1.3) rotate(15deg) translate(-180px, -40px);
  }
  70% {
    transform: scale(0.8) rotate(15deg) translate(-180px, -40px);
  }
  80% {
    transform: scale(1.2) rotate(15deg) translate(-180px, -40px);
  }
  90% {
    transform: scale(0.9) rotate(15deg) translate(-180px, -40px);
  }
  95% {
    transform: scale(1.1) rotate(15deg) translate(-180px, -40px);
  }
  100% {
    transform: scale(1) rotate(15deg) translate(-180px, -40px);
  }
}
@keyframes springBtnBlog {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.9);
  }
  95% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes springBtnBlog765 {
  0% {
    transform: scale(0) rotate(-13deg);
  }
  60% {
    transform: scale(1.3) rotate(-13deg);
  }
  70% {
    transform: scale(0.8) rotate(-13deg);
  }
  80% {
    transform: scale(1.2) rotate(-13deg);
  }
  90% {
    transform: scale(0.9) rotate(-13deg);
  }
  95% {
    transform: scale(1.1) rotate(-13deg);
  }
  100% {
    transform: scale(1) rotate(-13deg);
  }
}
@keyframes springBtnBlog765V2 {
  0% {
    transform: scale(0) rotate(-13deg) translate(-150px, 16px);
  }
  60% {
    transform: scale(1.3) rotate(-13deg) translate(-150px, 16px);
  }
  70% {
    transform: scale(0.8) rotate(-13deg) translate(-150px, 16px);
  }
  80% {
    transform: scale(1.2) rotate(-13deg) translate(-150px, 16px);
  }
  90% {
    transform: scale(0.9) rotate(-13deg) translate(-150px, 16px);
  }
  95% {
    transform: scale(1.1) rotate(-13deg) translate(-150px, 16px);
  }
  100% {
    transform: scale(1) rotate(-13deg) translate(-150px, 16px);
  }
}
@keyframes springBtnBuyNow {
  0% {
    transform: scale(0) rotate(-7deg);
  }
  60% {
    transform: scale(1.6) rotate(-7deg);
  }
  70% {
    transform: scale(0.6) rotate(-7deg);
  }
  80% {
    transform: scale(1.4) rotate(-7deg);
  }
  90% {
    transform: scale(0.8) rotate(-7deg);
  }
  95% {
    transform: scale(1.2) rotate(-7deg);
  }
  100% {
    transform: scale(1) rotate(-7deg);
  }
}
@keyframes homeShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logoShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes cartAnime {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  20%, 80% {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    left: -100%;
    transform: translate(-50%, -30%);
  }
}
@keyframes cartAnimeL {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(-110%, -50%);
  }
  20%, 80% {
    opacity: 1;
    left: 50%;
    transform: translate(-110%, -50%);
  }
  100% {
    opacity: 0;
    left: -100%;
    transform: translate(-110%, -30%);
  }
}
@keyframes cartAnimeR {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(10%, -50%);
  }
  20%, 80% {
    opacity: 1;
    left: 50%;
    transform: translate(10%, -50%);
  }
  100% {
    opacity: 0;
    left: -100%;
    transform: translate(10%, -70%);
  }
}
@keyframes slider {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes startItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes endItem {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes resetItem {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0b0b09;
  color: #fff;
  overflow-x: hidden;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.wrapper_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.nav_burger {
  display: none;
  position: fixed;
  right: 30px;
  top: 25px;
  opacity: 1;
  scale: 1;
  transition: scale 0.5s;
  animation: burgerNav 1s;
  z-index: 4;
}
.nav_burger.burger-wrapper {
  right: 50%;
  transform-origin: 600px;
  transform: translate(600px);
}
.nav_burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: transparent;
  border: transparent;
  cursor: pointer;
}
.nav_burger-btn--item {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}
.nav_burger-btn--item:nth-child(2) {
  width: 70%;
  align-self: flex-end;
}
.nav_burger-btn--item:nth-child(3) {
  width: 30%;
  align-self: flex-end;
}
.nav_logo {
  font-size: 1.4rem;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  scale: 1.5;
  transform-origin: 0 0;
  opacity: 0;
  animation: logoShow 2s forwards;
}
.nav_logo-data {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 0.7em;
}
.nav_logo-name {
  position: relative;
  font-family: "Tenor Sans", sans-serif;
  font-size: 3.5em;
  font-weight: 500;
}
.nav_logo-name .logo-v {
  font-size: 1.2em;
  color: #ff0000;
  opacity: 0.9;
  z-index: 0;
}
.nav_logo-name .logo-n {
  position: absolute;
  top: -10.6px;
  left: 50%;
  transform: translate(-23.2px);
  font-size: 1.2em;
  z-index: -1;
}
.nav_logo-name .logo-s {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 1.2em;
  opacity: 0.9;
  z-index: 1;
}
.nav_logo-seccond {
  font-family: "Bangers", system-ui;
  font-size: 1.4em;
  line-height: 0.7em;
  text-transform: uppercase;
  transform: translate(0px, -60%);
  opacity: 0.7;
  z-index: -2;
}
.nav_list,
.nav .nav_aside {
  position: absolute;
  right: 80px;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  scale: 0.9;
  z-index: 3;
}
.nav_list a,
.nav .nav_aside a {
  font-size: 2rem;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #fff;
}
.nav_list ol,
.nav .nav_aside ol {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s, scale 0.3s;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
}
.nav_list ol:nth-child(1),
.nav .nav_aside ol:nth-child(1) {
  transform: scale(0) rotate(-10deg);
  background-color: rgba(171, 23, 70, 0.6);
  animation: springBtnPasion 1.5s 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.nav_list ol:nth-child(1):hover,
.nav .nav_aside ol:nth-child(1):hover {
  background-color: rgba(171, 23, 70, 0.8);
  scale: 1.05;
}
.nav_list ol:nth-child(2),
.nav .nav_aside ol:nth-child(2) {
  transform: rotate(5deg) translate(30px) scale(0);
  background-color: rgba(27, 66, 208, 0.5843137255);
  animation: springBtnOffer 1.5s 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.nav_list ol:nth-child(2):hover,
.nav .nav_aside ol:nth-child(2):hover {
  background-color: rgba(27, 66, 208, 0.7921568627);
  scale: 1.05;
}
.nav_list ol:nth-child(3),
.nav .nav_aside ol:nth-child(3) {
  position: relative;
  transform: rotate(-7deg) translate(-20px);
  border: 2px solid #ffde59;
  border-radius: 50px;
  color: #303030;
  z-index: 0;
  overflow: hidden;
  transform: scale(0);
  z-index: 0;
  animation: springBtnBuyNow 1s 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.nav_list ol:nth-child(3)::before,
.nav .nav_aside ol:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  bottom: -1px;
  transform: rotate(8deg);
  background-color: #ffde59;
  z-index: -1;
}
.nav_list ol:nth-child(3):hover,
.nav .nav_aside ol:nth-child(3):hover {
  scale: 1.2;
}
.nav_list ol:nth-child(3) a,
.nav .nav_aside ol:nth-child(3) a {
  color: #303030;
}
.nav_list ol:nth-child(4),
.nav .nav_aside ol:nth-child(4) {
  transform: rotate(15deg) translate(60px);
  transform-origin: 120px;
  background-color: #000000;
  transform: scale(0);
  z-index: -1;
  animation: springBtnContact 1.3s 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.nav_list ol:nth-child(4):hover,
.nav .nav_aside ol:nth-child(4):hover {
  background-color: rgba(0, 0, 0, 0.662745098);
  scale: 1.05;
}
.nav_list ol:nth-child(5),
.nav .nav_aside ol:nth-child(5) {
  background-color: #99abd3;
  transform: scale(0);
  z-index: -1;
  animation: springBtnBlog 1s 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.nav_list ol:nth-child(5):hover,
.nav .nav_aside ol:nth-child(5):hover {
  background-color: rgba(153, 171, 211, 0.7);
  scale: 1.05;
}
.nav_list .facebook-btn,
.nav .nav_aside .facebook-btn {
  position: absolute;
  right: -60px;
  bottom: -50px;
  z-index: -1;
  opacity: 0;
  animation: logoShow 4s 1s forwards;
}
.nav_list .facebook-btn a,
.nav .nav_aside .facebook-btn a {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.3s, scale 0.3s;
}
.nav_list .facebook-btn a:hover,
.nav .nav_aside .facebook-btn a:hover {
  color: #3b5998;
}
.nav_list .facebook-btn:hover,
.nav .nav_aside .facebook-btn:hover {
  scale: 1.1;
}
.nav .btn_buy-now {
  font-family: "Bangers", system-ui;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #303030;
}
.nav_aside.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
  background-color: rgba(77, 73, 82, 0.858);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transform: translate(0);
  scale: 1;
  opacity: 1;
  transition: transform 1s, opacity 1s;
}
.nav_aside.nav-active {
  transform: translate(-100%);
  opacity: 0;
}

.header_offer {
  position: relative;
  width: 100%;
  height: 320px;
  background-image: url(../img/offer/pracaKomputer600px.jpg);
  background-position: 0 30%;
  background-size: cover;
  z-index: 0;
}
.header_offer-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 0;
}
.header_offer-text {
  height: 100%;
}
.header_offer-text h1 {
  position: absolute;
  bottom: 25px;
  left: 40px;
  font-size: 2.4rem;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
}

.offer_website-btns {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}
.offer_website-btn {
  font-size: 1.6rem;
  width: 140px;
  padding: 8px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: background-color 0.3s;
}
.offer_website-btn:hover {
  background-color: rgba(79, 79, 79, 0.348);
}
.offer_website-tab {
  padding: 0 10px;
}
.offer_website-tab:nth-child(n+2) {
  display: none;
}
.offer_website-tab table {
  position: relative;
  table-layout: fixed;
  width: 95%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.4rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  border-collapse: collapse;
  border-spacing: 10px;
}
.offer_website-tab table tr .price {
  color: green;
}
.offer_website-tab table tr th {
  font-size: 1.6rem;
  padding: 35px 0 5px 0;
}
.offer_website-tab table tr td {
  padding: 15px 0 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.185);
}
.offer_website-tab table tr td:first-child {
  text-align: start;
}
.offer_website-tab .packages_box {
  position: relative;
  font-size: 1rem;
  width: 100%;
  padding: 30px 20px;
  margin-top: 40px;
  margin-bottom: 80px;
  border: 2px solid rgba(171, 23, 70, 0.6);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
}
.offer_website-tab .packages_box h2 {
  position: absolute;
  top: -18px;
  left: 30px;
  padding: 0 10px;
  font-size: 2.8rem;
  background-color: #0b0b09;
}
.offer_website-tab .packages_box p {
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.offer_website-tab .packages_box ul {
  font-size: 1.4rem;
  list-style: none;
}
.offer_website-tab .packages_box ul li {
  display: inline-block;
  margin: 10px 0;
  margin-left: 30px;
}
.offer_website-tab .packages_box ul li:first-child {
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: 20px;
}
.offer_website-tab .packages_box ul li:nth-child(n+2) {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.offer_website-tab .packages_box ul li .price {
  flex-shrink: 0;
  align-self: flex-end;
  margin-left: auto;
  padding-left: 15px;
  color: green;
}
.offer_website-tab .packages_box ul li .price-x {
  background-image: url(../img/offer/czerwonyX.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.offer_website-tab .packages_box ul li .promotion {
  font-size: 1rem;
  align-self: flex-end;
  color: green;
}
.offer_website-tab .packages_box-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.offer_website-tab .packages_box-end .price {
  flex-shrink: 0;
  align-self: flex-end;
  margin-left: auto;
  padding-left: 15px;
  color: green;
}
.offer_website-tab .packages_box-end .develop {
  font-size: 1.2rem;
  padding: 8px 16px;
}
.offer_website-tab .packages_box-end .develop:hover {
  scale: 1.1;
}
.offer_website-tab .packages_box-end .check-offer {
  font-size: 1.4rem;
  padding: 10px 30px;
  background-color: #ffde59;
  border: transparent;
  border-radius: 50px;
  text-decoration: none;
  color: #0b0b09;
  padding: 8px 16px;
  cursor: pointer;
  transition: scale 0.3s;
}
.offer_website-tab .packages_box-end .check-offer:hover {
  scale: 1.1;
}
.offer_website .anime-item-end {
  animation: endItem 0.3s forwards;
}
.offer_website .anime-item-start {
  animation: startItem 0.3s forwards;
}

.footer {
  position: relative;
  background-color: rgb(0, 0, 0);
  z-index: 0;
}
.footer_box {
  position: relative;
  padding: 0 8vw;
}
.footer_img {
  position: absolute;
  width: 80vw;
  max-width: 1100px;
  height: 50vw;
  max-height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%, 0 100%);
  overflow: hidden;
  z-index: -1;
}
.footer_img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 50%);
  z-index: 1;
}
.footer_img img {
  width: 100%;
  height: 100%;
  -o-object-position: 0px -100px;
     object-position: 0px -100px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.footer_info-logo {
  position: relative;
  height: 50vw;
}
.footer_info-logo .nav_logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.footer_info-social {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 20px;
}
.footer_info-social a {
  text-decoration: none;
  color: #3b5998;
}
.footer_info-social .fa-brands {
  font-size: 3.5rem;
}
.footer_info-text {
  font-size: 1.4rem;
  padding: 10px;
  text-align: center;
}
.footer_menu ul {
  font-size: 1.8rem;
  padding: 20px 0;
  padding-bottom: 80px;
  list-style: none;
  text-align: center;
}
.footer_menu ul li {
  position: relative;
  padding: 10px 0;
}
.footer_menu ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: color 0.3s;
}
.footer_menu ul li a:hover {
  color: rgba(27, 66, 208, 0.7921568627);
}
.footer_menu ul li::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  left: 50%;
  bottom: -1px;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.3;
}
.footer_menu ul li:last-child {
  transform: scale(0.6);
  z-index: 0;
  animation: springBtnBuyNow 1s 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  transition: scale 0.3s;
}
.footer_menu ul li:last-child:hover {
  scale: 1.2;
}
.footer_menu ul li:last-child a {
  color: #ffde59;
}
.footer_menu ul li:last-child::before {
  content: none;
}

.return {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 0;
}
.return img {
  width: 100%;
  height: 100%;
}
.return_arrows {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  bottom: 20%;
  right: 0;
  font-size: 1.8rem;
  color: black;
  cursor: pointer;
}
.return_arrows .fa-chevron-up:last-child {
  margin-top: -25px;
}

.active {
  color: rgb(150, 150, 217);
}

.active_gray {
  background-color: rgba(79, 79, 79, 0.6);
}

.develop {
  font-size: 1.6rem;
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid #ffde59;
  border-radius: 50px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: scale 0.3s;
}
.develop:hover {
  scale: 1.2;
}

.disable {
  display: none;
}

@keyframes burgerNav {
  0% {
    scale: 0;
  }
  30% {
    scale: 1.4;
  }
  40% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  60% {
    scale: 1;
  }
  70% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes springBtnPasion {
  0% {
    transform: scale(0) rotate(-10deg);
  }
  60% {
    transform: scale(1.3) rotate(-10deg);
  }
  70% {
    transform: scale(0.8) rotate(-10deg);
  }
  80% {
    transform: scale(1.2) rotate(-10deg);
  }
  90% {
    transform: scale(0.9) rotate(-10deg);
  }
  95% {
    transform: scale(1.1) rotate(-10deg);
  }
  100% {
    transform: scale(1) rotate(-10deg);
  }
}
@keyframes springBtnPasionV2 {
  0% {
    transform: scale(0) rotate(-10deg) translate(60px, -20px);
  }
  60% {
    transform: scale(1.3) rotate(-10deg) translate(60px, -20px);
  }
  70% {
    transform: scale(0.8) rotate(-10deg) translate(60px, -20px);
  }
  80% {
    transform: scale(1.2) rotate(-10deg) translate(60px, -20px);
  }
  90% {
    transform: scale(0.9) rotate(-10deg) translate(60px, -20px);
  }
  95% {
    transform: scale(1.1) rotate(-10deg) translate(60px, -20px);
  }
  100% {
    transform: scale(1) rotate(-10deg) translate(60px, -20px);
  }
}
@keyframes springBtnOffer {
  0% {
    transform: scale(0) rotate(5deg);
  }
  60% {
    transform: scale(1.3) rotate(5deg);
  }
  70% {
    transform: scale(0.8) rotate(5deg);
  }
  80% {
    transform: scale(1.2) rotate(5deg);
  }
  90% {
    transform: scale(0.9) rotate(5deg);
  }
  95% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(5deg);
  }
}
@keyframes springBtnMap {
  0% {
    transform: scale(0) rotate(10deg);
  }
  60% {
    transform: scale(1.3) rotate(10deg);
  }
  70% {
    transform: scale(0.8) rotate(10deg);
  }
  80% {
    transform: scale(1.2) rotate(10deg);
  }
  90% {
    transform: scale(0.9) rotate(10deg);
  }
  95% {
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(10deg);
  }
}
@keyframes springBtnContact {
  0% {
    transform: scale(0) rotate(15deg) translate(60px);
  }
  60% {
    transform: scale(1.3) rotate(15deg) translate(60px);
  }
  70% {
    transform: scale(0.8) rotate(15deg) translate(60px);
  }
  80% {
    transform: scale(1.2) rotate(15deg) translate(60px);
  }
  90% {
    transform: scale(0.9) rotate(15deg) translate(60px);
  }
  95% {
    transform: scale(1.1) rotate(15deg) translate(60px);
  }
  100% {
    transform: scale(1) rotate(15deg) translate(60px);
  }
}
@keyframes springBtnContact765 {
  0% {
    transform: scale(0) rotate(15deg) translate(-180px, -40px);
  }
  60% {
    transform: scale(1.3) rotate(15deg) translate(-180px, -40px);
  }
  70% {
    transform: scale(0.8) rotate(15deg) translate(-180px, -40px);
  }
  80% {
    transform: scale(1.2) rotate(15deg) translate(-180px, -40px);
  }
  90% {
    transform: scale(0.9) rotate(15deg) translate(-180px, -40px);
  }
  95% {
    transform: scale(1.1) rotate(15deg) translate(-180px, -40px);
  }
  100% {
    transform: scale(1) rotate(15deg) translate(-180px, -40px);
  }
}
@keyframes springBtnBlog {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.9);
  }
  95% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes springBtnBlog765 {
  0% {
    transform: scale(0) rotate(-13deg);
  }
  60% {
    transform: scale(1.3) rotate(-13deg);
  }
  70% {
    transform: scale(0.8) rotate(-13deg);
  }
  80% {
    transform: scale(1.2) rotate(-13deg);
  }
  90% {
    transform: scale(0.9) rotate(-13deg);
  }
  95% {
    transform: scale(1.1) rotate(-13deg);
  }
  100% {
    transform: scale(1) rotate(-13deg);
  }
}
@keyframes springBtnBlog765V2 {
  0% {
    transform: scale(0) rotate(-13deg) translate(-150px, 16px);
  }
  60% {
    transform: scale(1.3) rotate(-13deg) translate(-150px, 16px);
  }
  70% {
    transform: scale(0.8) rotate(-13deg) translate(-150px, 16px);
  }
  80% {
    transform: scale(1.2) rotate(-13deg) translate(-150px, 16px);
  }
  90% {
    transform: scale(0.9) rotate(-13deg) translate(-150px, 16px);
  }
  95% {
    transform: scale(1.1) rotate(-13deg) translate(-150px, 16px);
  }
  100% {
    transform: scale(1) rotate(-13deg) translate(-150px, 16px);
  }
}
@keyframes springBtnBuyNow {
  0% {
    transform: scale(0) rotate(-7deg);
  }
  60% {
    transform: scale(1.6) rotate(-7deg);
  }
  70% {
    transform: scale(0.6) rotate(-7deg);
  }
  80% {
    transform: scale(1.4) rotate(-7deg);
  }
  90% {
    transform: scale(0.8) rotate(-7deg);
  }
  95% {
    transform: scale(1.2) rotate(-7deg);
  }
  100% {
    transform: scale(1) rotate(-7deg);
  }
}
@keyframes homeShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logoShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes cartAnime {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  20%, 80% {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    left: -100%;
    transform: translate(-50%, -30%);
  }
}
@keyframes cartAnimeL {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(-110%, -50%);
  }
  20%, 80% {
    opacity: 1;
    left: 50%;
    transform: translate(-110%, -50%);
  }
  100% {
    opacity: 0;
    left: -100%;
    transform: translate(-110%, -30%);
  }
}
@keyframes cartAnimeR {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(10%, -50%);
  }
  20%, 80% {
    opacity: 1;
    left: 50%;
    transform: translate(10%, -50%);
  }
  100% {
    opacity: 0;
    left: -100%;
    transform: translate(10%, -70%);
  }
}
@keyframes slider {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes startItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes endItem {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes resetItem {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@media (max-width: 300px) {
  .nav_logo {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .nav_list {
    width: 100%;
    top: 180px;
    right: 50%;
    transform: translate(50%);
  }
  .nav .facebook-btn {
    right: -10px;
    bottom: -45px;
  }
  .home_box {
    padding-top: 370px;
  }
  .offer .offer_text-top h1 {
    font-family: "Tenor Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
  }
  .offer .offer_text-top p {
    font-size: 1.4rem;
    margin-top: 15px;
    text-indent: 20px;
  }
  .education_box-slider .blog_cart a h4 {
    font-size: 1.4rem;
  }
}
@media (min-width: 301px) and (max-width: 388px) {
  .nav_logo {
    scale: 1.2;
  }
  .nav .facebook-btn {
    right: -70px;
    bottom: -45px;
  }
  .opinions_box .opinions_list {
    height: 40vh;
  }
}
@keyframes burgerNav {
  0% {
    scale: 0;
  }
  30% {
    scale: 1.4;
  }
  40% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  60% {
    scale: 1;
  }
  70% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes springBtnPasion {
  0% {
    transform: scale(0) rotate(-10deg);
  }
  60% {
    transform: scale(1.3) rotate(-10deg);
  }
  70% {
    transform: scale(0.8) rotate(-10deg);
  }
  80% {
    transform: scale(1.2) rotate(-10deg);
  }
  90% {
    transform: scale(0.9) rotate(-10deg);
  }
  95% {
    transform: scale(1.1) rotate(-10deg);
  }
  100% {
    transform: scale(1) rotate(-10deg);
  }
}
@keyframes springBtnPasionV2 {
  0% {
    transform: scale(0) rotate(-10deg) translate(60px, -20px);
  }
  60% {
    transform: scale(1.3) rotate(-10deg) translate(60px, -20px);
  }
  70% {
    transform: scale(0.8) rotate(-10deg) translate(60px, -20px);
  }
  80% {
    transform: scale(1.2) rotate(-10deg) translate(60px, -20px);
  }
  90% {
    transform: scale(0.9) rotate(-10deg) translate(60px, -20px);
  }
  95% {
    transform: scale(1.1) rotate(-10deg) translate(60px, -20px);
  }
  100% {
    transform: scale(1) rotate(-10deg) translate(60px, -20px);
  }
}
@keyframes springBtnOffer {
  0% {
    transform: scale(0) rotate(5deg);
  }
  60% {
    transform: scale(1.3) rotate(5deg);
  }
  70% {
    transform: scale(0.8) rotate(5deg);
  }
  80% {
    transform: scale(1.2) rotate(5deg);
  }
  90% {
    transform: scale(0.9) rotate(5deg);
  }
  95% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(5deg);
  }
}
@keyframes springBtnMap {
  0% {
    transform: scale(0) rotate(10deg);
  }
  60% {
    transform: scale(1.3) rotate(10deg);
  }
  70% {
    transform: scale(0.8) rotate(10deg);
  }
  80% {
    transform: scale(1.2) rotate(10deg);
  }
  90% {
    transform: scale(0.9) rotate(10deg);
  }
  95% {
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(10deg);
  }
}
@keyframes springBtnContact {
  0% {
    transform: scale(0) rotate(15deg) translate(60px);
  }
  60% {
    transform: scale(1.3) rotate(15deg) translate(60px);
  }
  70% {
    transform: scale(0.8) rotate(15deg) translate(60px);
  }
  80% {
    transform: scale(1.2) rotate(15deg) translate(60px);
  }
  90% {
    transform: scale(0.9) rotate(15deg) translate(60px);
  }
  95% {
    transform: scale(1.1) rotate(15deg) translate(60px);
  }
  100% {
    transform: scale(1) rotate(15deg) translate(60px);
  }
}
@keyframes springBtnContact765 {
  0% {
    transform: scale(0) rotate(15deg) translate(-180px, -40px);
  }
  60% {
    transform: scale(1.3) rotate(15deg) translate(-180px, -40px);
  }
  70% {
    transform: scale(0.8) rotate(15deg) translate(-180px, -40px);
  }
  80% {
    transform: scale(1.2) rotate(15deg) translate(-180px, -40px);
  }
  90% {
    transform: scale(0.9) rotate(15deg) translate(-180px, -40px);
  }
  95% {
    transform: scale(1.1) rotate(15deg) translate(-180px, -40px);
  }
  100% {
    transform: scale(1) rotate(15deg) translate(-180px, -40px);
  }
}
@keyframes springBtnBlog {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.9);
  }
  95% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes springBtnBlog765 {
  0% {
    transform: scale(0) rotate(-13deg);
  }
  60% {
    transform: scale(1.3) rotate(-13deg);
  }
  70% {
    transform: scale(0.8) rotate(-13deg);
  }
  80% {
    transform: scale(1.2) rotate(-13deg);
  }
  90% {
    transform: scale(0.9) rotate(-13deg);
  }
  95% {
    transform: scale(1.1) rotate(-13deg);
  }
  100% {
    transform: scale(1) rotate(-13deg);
  }
}
@keyframes springBtnBlog765V2 {
  0% {
    transform: scale(0) rotate(-13deg) translate(-150px, 16px);
  }
  60% {
    transform: scale(1.3) rotate(-13deg) translate(-150px, 16px);
  }
  70% {
    transform: scale(0.8) rotate(-13deg) translate(-150px, 16px);
  }
  80% {
    transform: scale(1.2) rotate(-13deg) translate(-150px, 16px);
  }
  90% {
    transform: scale(0.9) rotate(-13deg) translate(-150px, 16px);
  }
  95% {
    transform: scale(1.1) rotate(-13deg) translate(-150px, 16px);
  }
  100% {
    transform: scale(1) rotate(-13deg) translate(-150px, 16px);
  }
}
@keyframes springBtnBuyNow {
  0% {
    transform: scale(0) rotate(-7deg);
  }
  60% {
    transform: scale(1.6) rotate(-7deg);
  }
  70% {
    transform: scale(0.6) rotate(-7deg);
  }
  80% {
    transform: scale(1.4) rotate(-7deg);
  }
  90% {
    transform: scale(0.8) rotate(-7deg);
  }
  95% {
    transform: scale(1.2) rotate(-7deg);
  }
  100% {
    transform: scale(1) rotate(-7deg);
  }
}
@keyframes homeShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logoShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes cartAnime {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  20%, 80% {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    left: -100%;
    transform: translate(-50%, -30%);
  }
}
@keyframes cartAnimeL {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(-110%, -50%);
  }
  20%, 80% {
    opacity: 1;
    left: 50%;
    transform: translate(-110%, -50%);
  }
  100% {
    opacity: 0;
    left: -100%;
    transform: translate(-110%, -30%);
  }
}
@keyframes cartAnimeR {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(10%, -50%);
  }
  20%, 80% {
    opacity: 1;
    left: 50%;
    transform: translate(10%, -50%);
  }
  100% {
    opacity: 0;
    left: -100%;
    transform: translate(10%, -70%);
  }
}
@keyframes slider {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes startItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes endItem {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes resetItem {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@media (min-width: 765px) {
  .nav_logo {
    position: absolute;
    top: 60px;
    left: 70px;
    scale: 1.7;
  }
  .nav_list {
    scale: 1.3;
  }
  .nav_list ol:nth-child(5) {
    position: absolute;
    transform: rotate(-13deg) scale(0);
    animation: springBtnBlog765 1s 1.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  }
  .nav_list .facebook-btn {
    position: absolute;
    right: -60px;
    bottom: -70px;
    z-index: -1;
  }
  .nav_list .facebook-btn a {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }
  .nav_list.nav_list-offer {
    flex-direction: row;
    top: 140px;
    right: -70px;
    gap: 10px;
    scale: 0.9;
  }
  .nav_list.nav_list-offer ol:nth-child(1) {
    transform: rotate(10deg) translate(20px) scale(0);
    animation: springBtnPasionV2 1.1s 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  }
  .nav_list.nav_list-offer ol:nth-child(5) {
    position: static;
    transform-origin: -110px 30px;
    transform: rotate(-13deg) translate(-150px, -20px) scale(0);
    animation: springBtnBlog765V2 1.1s 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  }
  .nav_list.nav_list-offer ol:nth-child(4) {
    transform-origin: -110px -20px;
    transform: rotate(15deg) translate(-180px, -40px) scale(0);
    animation: springBtnContact765 1.3s 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  }
  .nav_list.nav_list-offer .facebook-btn {
    right: 70px;
  }
  .nav_aside.nav-fixed {
    width: 30%;
    left: 50px;
    align-items: center;
  }
  .home {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .home_box {
    width: 70%;
    max-width: 550px;
    height: 50%;
    max-height: 350px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .home_box::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.3;
  }
  .home_box-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 20px 1fr;
    font-size: 1.8rem;
  }
  .home_box-list ol img {
    margin-bottom: 5px;
  }
  .home_box-list ol:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .home_box-list ol:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .home_box-list ol:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .home_box-list ol:nth-child(4) {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .home_box-list ol:nth-child(5) {
    grid-row: 3/4;
    grid-column: 3/4;
  }
  .home_box-list ol:nth-child(n) {
    transform: translate(0);
  }
  .offer_map {
    margin-top: 50px;
  }
  .offer .offer_text-top {
    padding: 0 12vw;
  }
  .offer .offer_text-top h1 {
    font-size: 2.6rem;
  }
  .offer .offer_text-top h2 {
    font-size: 2.4rem;
  }
  .offer .offer_text-top p {
    font-size: 2rem;
    margin-top: 30px;
    text-indent: 20px;
  }
  .offer .offer_icon-box {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .offer .offer_icon-card {
    width: 40%;
    align-self: flex-start;
  }
  .offer .offer_icon-card img {
    width: 90px;
  }
  .offer .offer_icon-card p:nth-child(2) {
    font-size: 2rem;
  }
  .offer .offer_icon-card p:nth-child(3) {
    font-size: 1.6rem;
  }
  .offer_btns {
    flex-direction: row;
    justify-content: start;
    padding: 0 12vw;
  }
  .offer_btns .check-offer,
  .offer_btns .develop {
    font-size: 2rem;
  }
  .offer_btns .approved-img {
    bottom: 20px;
    right: 30px;
    width: 30vw;
  }
  .examples .examples_h2 {
    font-size: 2.6rem;
  }
  .examples_text {
    font-size: 2rem;
    border: 3px solid rgba(171, 23, 70, 0.6);
    border-bottom: none;
  }
  .examples_text .examples_text-first {
    font-size: 2.4rem;
  }
  .examples .examples_btns {
    flex-direction: row;
    justify-content: start;
    margin-top: 60px;
  }
  .examples .examples_btns .check-offer {
    font-size: 2rem;
  }
  .examples .examples_btns .develop {
    font-size: 2rem;
  }
  .education_box-h2 {
    font-size: 2.6rem;
  }
  .education_box p {
    font-size: 2rem;
  }
  .education_box-slider {
    width: 100%;
    height: 40vw;
  }
  .education_box-slider .blog_cart {
    width: 50%;
    height: 80%;
  }
  .education_box-slider .blog_cart:nth-child(odd) {
    animation: cartAnimeL 10s ease-in-out;
  }
  .education_box-slider .blog_cart:nth-child(even) {
    animation: cartAnimeR 10s ease-in-out;
  }
  .education_box-slider .blog_cart h4 {
    font-size: 2rem;
  }
  .education_box-map {
    width: 50%;
    padding: 40px 20px;
  }
  .education_box-map h3 {
    font-size: 2.2rem;
    right: -40px;
    top: -30px;
  }
  .education_box-map ul li {
    font-size: 1.8rem;
  }
  .education_box-map h4 {
    font-size: 2rem;
  }
  .education_box-btn a button {
    font-size: 2rem;
  }
  .opinions_h2 {
    font-size: 2.6rem;
  }
  .opinions_box .opinions_list-card a {
    font-size: 2.2rem;
  }
  .opinions_box .opinions_list-card p {
    font-size: 2rem;
  }
  .opinions_box .opinions_site {
    font-size: 2rem;
  }
  .opinions_box .opinions_site-btn {
    font-size: 2rem;
  }
  .header_offer-text h1 {
    bottom: 25px;
    left: 240px;
    font-size: 2.6rem;
  }
  .footer_info {
    display: inline-block;
    width: 50%;
  }
  .footer_info-logo {
    height: 300px;
  }
  .footer_info-logo .nav_logo {
    scale: 2;
  }
  .footer_info-social {
    margin-top: -40px;
  }
  .footer_info-social .fa-brands {
    font-size: 4rem;
  }
  .footer_info-text {
    font-size: 1.8rem;
  }
  .footer_menu {
    display: inline-block;
    width: 45%;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .footer_menu a {
    font-size: 2.4rem;
  }
  .disable {
    display: none;
  }
}
@media (min-width: 998px) {
  .home_box {
    max-width: 650px;
    max-height: 400px;
  }
  .home_box-list ol {
    scale: 1.1;
  }
  .offer_map {
    margin-top: 60px;
  }
  .offer .offer_text-top {
    padding: 0 20vw;
  }
  .offer .offer_text-top h1 {
    font-size: 2.8rem;
  }
  .offer .offer_text-top h2 {
    font-size: 2.6rem;
  }
  .offer .offer_text-top p {
    font-size: 2.2rem;
    text-indent: 40px;
  }
  .offer .offer_icon-box {
    gap: 90px;
  }
  .offer .offer_icon-card {
    width: 20%;
  }
  .offer .offer_icon-card p:nth-child(2) {
    font-size: 2rem;
  }
  .offer .offer_icon-card p:nth-child(3) {
    font-size: 1.8rem;
  }
  .offer_btns {
    padding: 0 20vw;
  }
  .offer_btns .check-offer,
  .offer_btns .develop {
    font-size: 2.2rem;
  }
  .offer_btns .approved-img {
    bottom: 20px;
    right: 80px;
    width: 20vw;
  }
  .examples .examples_h2 {
    width: 60%;
    padding-left: 30px;
    font-size: 2.8rem;
    text-align: end;
  }
  .examples_content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .examples_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .examples_text {
    width: 100%;
    margin-top: 0px;
    padding-right: 40px;
    font-size: 2.2rem;
    border: 2px solid rgba(171, 23, 70, 0.6);
    border-radius: 20px;
  }
  .examples_text .examples_text-first {
    font-size: 2.4rem;
  }
  .examples_img {
    width: 70%;
    height: 50vw;
    transform: translate(-20px);
    border-radius: 20px;
  }
  .examples .examples_btns {
    gap: 30px;
  }
  .examples .examples_btns .check-offer {
    font-size: 2.2rem;
  }
  .examples .examples_btns .develop {
    font-size: 2.2rem;
  }
  .education_box-h2 {
    font-size: 2.8rem;
  }
  .education_box p {
    font-size: 2.2rem;
  }
  .education_box-slider .blog_cart {
    width: 45%;
  }
  .education_box-slider .blog_cart h4 {
    font-size: 2.2rem;
  }
  .education_box-map {
    width: 40%;
    left: 50%;
  }
  .education_box-map h3 {
    font-size: 2.4rem;
  }
  .education_box-map ul li {
    font-size: 2rem;
  }
  .education_box-map h4 {
    font-size: 2.2rem;
  }
  .education_box-btn {
    justify-content: start;
    margin-top: -50px;
  }
  .education_box-btn a button {
    font-size: 2.2rem;
  }
  .opinions_h2 {
    font-size: 2.8rem;
  }
  .opinions_box .opinions_list-card a {
    font-size: 2.4rem;
  }
  .opinions_box .opinions_list-card p {
    font-size: 2.2rem;
  }
  .opinions_box .opinions_site {
    font-size: 2.2rem;
  }
  .opinions_box .opinions_site-btn {
    font-size: 2.2rem;
  }
  .faq {
    height: 800px;
    padding: 60px 6vw;
  }
  .faq h2 {
    font-size: 3.8rem;
  }
  .faq_text {
    width: 70%;
  }
  .faq_text-question h3 {
    font-size: 2rem;
  }
  .faq_text-question--answer p {
    font-size: 1.6rem;
    text-indent: 20px;
  }
  .faq_img {
    position: absolute;
    height: 700px;
    left: auto;
    right: -400px;
  }
  .disable {
    display: none;
  }
}
@media (min-width: 1280px) {
  .offer .offer_text-top {
    padding: 0 280px;
  }
  .offer .offer_text-top h1 {
    font-size: 2.8rem;
  }
  .offer .offer_text-top h2 {
    font-size: 2.5rem;
  }
  .offer .offer_text-top p {
    font-size: 2.2rem;
    text-indent: 60px;
  }
  .offer .offer_text-top--hero {
    width: 150%;
  }
  .offer .offer_icon-box {
    gap: 120px;
  }
  .offer .offer_icon-card {
    width: 20%;
  }
  .offer_btns {
    padding: 0 280px;
  }
  .offer_btns .check-offer,
  .offer_btns .develop {
    font-size: 2.2rem;
  }
  .offer_btns .approved-img {
    right: 120px;
    width: 250px;
  }
  .examples .examples_h2 {
    font-size: 2.6rem;
    text-align: start;
  }
  .examples_content {
    padding: 50px;
  }
  .examples_text {
    width: 900px;
    font-size: 2.2rem;
  }
  .examples_img {
    width: 600px;
    height: 600px;
  }
  .examples .examples_btns {
    gap: 30px;
  }
  .examples .examples_btns .check-offer {
    font-size: 2rem;
  }
  .examples .examples_btns .develop {
    font-size: 2rem;
  }
  .education_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
  }
  .education_box-h2 {
    font-size: 2.6rem;
    grid-column: 1/3;
    grid-row: 1;
  }
  .education_box p {
    font-size: 2.2rem;
    grid-column: 1/3;
    grid-row: 2;
  }
  .education_box-slider {
    grid-column: 1/3;
    grid-row: 3;
    left: 20px;
    width: 100%;
    max-width: 700px;
    height: 30vw;
    max-height: 400px;
  }
  .education_box-slider .blog_cart {
    width: 50%;
  }
  .education_box-slider .blog_cart h4 {
    font-size: 2.2rem;
  }
  .education_box-map {
    grid-column: 3/4;
    grid-row: 2/4;
    width: 80%;
    left: auto;
    right: -80px;
    transform: translate(0);
    margin: 40px 0;
    margin-top: 120px;
  }
  .education_box-map h3 {
    font-size: 2.6rem;
  }
  .education_box-map ul li {
    font-size: 2.2rem;
  }
  .education_box-btn {
    grid-column: 1/2;
    grid-row: 4;
    justify-content: start;
    margin-top: 20px;
  }
  .education_box-btn a button {
    font-size: 2.2rem;
  }
  .disable {
    display: none;
  }
}/*# sourceMappingURL=offer.css.map */