$backgroundColor: #0b0b09;
$globalTextColor: #fff;
$burgerColor: #ffffffcc;
// LOGO
$logoColor: #ffffff;
$logoV: #ff0000;
// NAV BTN
$mojaPasja: #ab174699;
$mojaPasjaHover: #ab1746cc;
$oferta: #1b42d095;
$ofertaHover: #1b42d0ca;
$buyNowBackground: #ffde59;
$buyNowText: #303030;
$kontakt: #000000;
$kontaktHover: #000000a9;
// Facebook color
$facebookColor: #3b5998;
