// FONT
$fMrDeHaviland: 'Mr De Haviland', cursive;
$Allison: 'Allison', cursive;
$MrsSaintDelafield: 'Mrs Saint Delafield', cursive;
$Bengers: 'Bangers', system-ui;
$Allura: 'Allura', cursive;
$Vidaloka: 'Vidaloka', serif;
$PTSerif: 'PT Serif', serif;
$tenorSans: 'Tenor Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// GLOBAL
$global: $montserrat;
// LOGO
$logoName: $tenorSans;
$logoSeccond: $Bengers;
// NAVIGATION
$BtnNav: $tenorSans;
// H1
$H1: $tenorSans;
// H2
$H2: $montserrat;
