@use './color' as col;
@use './mixin' as *;
@media (min-width: 1280px) {
	.offer {
		.offer_text-top {
			padding: 0 280px;
			h1 {
				font-size: 2.6rem;
			}
			h2 {
				font-size: 2.4rem;
			}
			p {
				font-size: 2.2rem;
				text-indent: 60px;
			}
			&--hero {
				width: 150%;
			}
		}
		.offer_icon {
			&-box {
				gap: 120px;
			}
			&-card {
				width: 20%;
			}
		}
		&_btns {
			padding: 0 280px;
			.check-offer,
			.develop {
				font-size: 2rem;
			}
			.approved-img {
				// bottom: 20px;
				right: 120px;
				width: 250px;
			}
		}
	}
	.examples {
		.examples_h2 {
			font-size: 2.6rem;
			text-align: start;
		}
		&_content {
		padding: 50px ;
		}
		&_text {
			width: 900px;
			font-size: 2.2rem;
			// border: 2px solid col.$mojaPasja;
		}
		&_img{
		width: 600px;
		height: 600px;
		}
		.examples_btns {
			gap: 30px;
			.check-offer {
				font-size: 2rem;
			}
			.develop {
				font-size: 2rem;
			}
		}
	}
	.education {
		&_box {
			display: grid;
			grid-template-columns: repeat(3,1fr);
			// grid-template-rows: 30px,100px,200px,30px;
			// grid-template-rows: ;
			padding: 50px;
			&-h2 {
				font-size: 2.6rem;
				grid-column: 1/3;
				grid-row: 1;
			}
			p {
				font-size: 2.2rem;
				grid-column: 1/3;
				grid-row: 2;
			}
			&-slider {
				grid-column: 1/3;
				grid-row: 3;
				left: 20px;
				width: 100%;
				max-width: 700px;
				height: 30vw;
				max-height: 400px;
				.blog_cart {
					width: 50%;
					h4 {
						font-size: 2.2rem;
					}
				}
			}
			&-map {
				grid-column: 3/4;
				grid-row: 2/4;
				width: 80%;
				
				left: auto;
				right: -80px;
				transform: translate(0);
				margin: 40px 0;
				margin-top: 120px;
				h3 {
					font-size: 2.6rem;
				}
				ul {
					li {
						font-size: 2.2rem;
					}
				}
			}
			&-btn {
				grid-column: 1/2;
				grid-row: 4;
				justify-content: start;
				margin-top: 20px;
				a {
					button {
						font-size: 2.2rem;
					}
				}
			}
		}
	}
	.disable{
		display: none;
		
	}		
}
